<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Grupo 3 - Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="/css/admin.css">
<link rel="shortcut icon" href="/img/images1.png">


</head>
<body>
<!-- partial:index.partial.html -->
<div id="particles-js"></div>
<header id="header" class="okayNav-header navbar-fixed-top main-navbar-top">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">

                    <a class="okayNav-header__logo navbar-brand" href="#">
                        <img src="/img/images1.png" alt="" class="logo-1 img-responsive">
                    </a>

			</div> <!-- End: .col-xs-3 -->
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">

				<nav role="navigation" class="okayNav pull-right loaded" id="js-navbar-menu">
					<ul id="navbar-nav" class="navbar-nav okayNav__nav--visible">
						<li><a class="btn-nav" href="/">Home</a></li>
						<li><a class="btn-nav" href="#" th:href="@{/admin/usuarios}">Usuarios</a></li>
						<li><a class="btn-nav" href="#" th:href="@{/admin/perfiles}" >Roles</a></li>
						</li>
						<li><a class="btn-nav btn-border" href="#" data-toggle="modal"
								data-target="#sign-up-form" sec:authorize="isAuthenticated()" th:href="@{/logout}">Cerrar Sesión</a></li>
					</ul>
					<ul class="okayNav__nav--invisible transition-enabled nav-right"></ul><a href="#"
						class="okayNav__menu-toggle okay-invisible"><span></span><span></span><span></span><span></span><span></span></a>
				</nav>

			</div> <!-- End: .col-xs-9 -->
		</div> <!-- End: .row -->
	</div> <!-- End: .container -->
    <div class="styleAssl">
        <a href="#">Sistema de Administración:</a>
          </div>
</header>

<body class="login">
	<!--<div class="container">-->
        <div class="wrapper">
            
            <div class="controler">
                
              <ul>
              <!--  <li class="active">
                  <a href="#one" class="option">
                    <h2>Gestion de Aulas</h2>
                    <h5>Click derecho para empezar a gestionar las aulas</h5>
                  </a>
                </li>-->
                <li>
                  <a href="#" class="option" th:href="@{/admin/dashboard}">
                    <h2>Modo Administrador</h2>
                    <h5>Click derecho para ser redirigido a un menu mas interactivo</h5>
                  </a>
                </li>
                <!--<li>
                  <a href="#three" class="option">
                    <h2>Modo Administrador</h2>
                    <h5>Click derecho para ser redirigido a un menu mas interactivo</h5>
                  </a>
                </li>-->
              </ul>
            </div>
            <div class="visual">
              <div class="rings">
                <div class="inner-ring"></div>
                <div class="middle-ring"></div>
                <div class="outer-ring"></div>
              </div>
            </div>
          </div>
<!--	</div> -->

  </body>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script><script  src="/js/login.js"></script>

</body>
  <footer>
	<div class="container3"> 
		<div class="row">
		   <div class="col-lg-12">
			 <div class="alert alert-info" role="alert">
			   <div class="row vertical-align">
				 <div class="col-xs-1 text-center">
				   <i class="fa fa-info fa-2x"></i> 
				 </div>
				 <div class="col-xs-11">
				   <strong>Information:</strong> Estas navegando en modo Administrador, suerte!
				 </div>
			   </div>
			 </div>      
		   </div>
		 </div>  
	   </div>
  </footer>
</html>
