<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/css/auditVistas.css">
    <link rel="shortcut icon" href="/img/images1.png">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="particles-js"></div>
<header id="header" class="okayNav-header navbar-fixed-top main-navbar-top">
    <!-- ... -->
</header>

<body class="login">
    <div class="francoponce">
        <h1><span class="blue">&lt;</span>Materias<span class="blue">&gt;</span> <span class="yellow">Lista</pan></h1>
        <table class="container">
            <thead>
                <tr>
                    <th><h1>Nombre</h1></th>
                    <th><h1>Cod</h1></th>
                    <th><h1>Tipo de comision</h1></th>
                    <th><h1>Docente</h1></th>
                    <th><h1>Turno</h1></th>
                    <th><h1>Carrera</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="materia: ${lstMaterias}">
                    <td><span th:text="${materia.nombre}" /></td>
                    <td><span th:text="${materia.codMateria}" /></td>
                    <td><span th:text="${materia.tipoCom}" /></td>
                    <td><span th:text="${materia.docente}" /></td>
                    <td><span th:text="${materia.turno}" /></td>
                    <td><span th:text="${materia.carrera.nombre}" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script src="/js/login.js"></script>
</body>
</html>