@import url(https://fonts.googleapis.com/css?family=Varela);
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html {
  height: 100%;
}
/*body {
  background: #f2f2f2;
  font-family: 'Varela', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  min-height: 100%;
  position: relative;
}*/

label {
  margin-top: 6px;
  line-height: 17px;
}

a {
  color: #fff;
}

a:focus,
a:hover {
  color: #008080;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
  margin-top: 6px;
}

/******* Login Page *******/

body.login {
  background: rgba(241, 242, 181, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(92, 86, 86, 1) 0%, rgba(172, 16, 68) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(92, 86, 86, 1)), color-stop(100%, rgb(172, 16, 68)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(92, 86, 86, 1) 0%, rgba(172, 16, 68) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(92, 86, 86, 1) 0%, rgba(172, 16, 68) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(92, 86, 86, 1) 0%, rgb(172, 16, 68) 100%);
  background: radial-gradient(ellipse at center, rgb(92, 86, 86, 1) 0%, rgba(172, 16, 68) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1f2b5', endColorstr='#135058', GradientType=1);
}

.relative {
  position: relative;
}


.login-container-wrapper .logo,
.login-container-wrapper .welcome {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
}

.login-container-wrapper .logo {
  text-align: center;
  position: absolute;
  top: -42px;
  margin: 0 auto;
  width: 25%;
  left: 37.5%;
  border-radius: 50%;
  background-color: #344455;
  padding: 25px;
  box-shadow: 0px 0px 9px 2px #344454;
}

.login-container-wrapper {
  max-width: 400px;
  margin: 10% auto 8%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(57, 89, 116, 0.8);
  box-shadow: 1px 1px 10px 1px #000000, 8px 8px 0px 0px #344454, 12px 12px 10px 0px #000000;
  position: relative;
  padding-top: 80px;
}

.logo .fa {
  font-size: 50px;
}
.login input:focus + .fa{
  color:#fff;
}
.login-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-form i {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #93a5ab;
}

.login-form .input-lg {
  font-size: 16px;
  height: 52px;
  padding: 10px 25px;
  border-radius: 0;
}

.login input[type="text"],
.login input[type="password"],
.login input:focus {
  background-color: rgba(0, 115, 255, 0.75);
  border: 1px solid #4a525f;
  color: #eee;
  border-left: 4px solid #93a5ab;
}

.login input:focus {
  border-left: 4px solid #ccd8da;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(40, 52, 67, 0.75)!important;
  background-image: none;
  color: rgb(0, 0, 0);
  border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
  color: #ddd;
}

.btn-success {
  background-color: transparent;
  background-image: none;
  padding: 8px 50px;
  border-radius: 0;
  border: 2px solid #93a5ab;
  box-shadow: inset 0 0 0 0 #7692A7;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success:active {
  background-color: transparent;
  border-color: #fff;
  box-shadow: inset 0 0 100px 0 #7692A7;
  color: #FFF;
}
#particles-js {
/*   background: cornflowerblue; */
  width:100%;
  height:100%;
  position:absolute;
  z-index:-1;
}
.text-centerr{
  text-align: center;
  color: #39ff14;
  font-family: 'PT Sans Caption', sans-serif;
  
}

.nav {
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block;
}

.overlay-color {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
/**
* =======================
* Navigation
* =======================
*/
.main-navbar-top {
border: 0px solid;
top: 0px;
padding-top: 25px;
transition: all 0.4s ease-out;
transform-style: preserve-3d;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: transparent;
z-index: 100;
}
.main-navbar-top .okayNav-header {
background-color: transparent;
}
.main-navbar-top .navbar-brand {
display: block;
height: 77px;
padding: 0;
margin-left: 0px;
}
.main-navbar-top .navbar-brand img {
display: block;
height: 100%;
}
.main-navbar-top .navbar-brand .logo-1 {
display: block;
  /* cambia estos dos valores para definir el tamaño de tu círculo */
  height: 100px;
  width: 100px;
  /* los siguientes valores son independientes del tamaño del círculo */
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}
.main-navbar-top .navbar-brand .logo-2 {
display: none;
}
.main-navbar-top .navbar-toggle {
padding: 19px 15px;
}
.main-navbar-top .navbar-toggle .icon-bar {
background-color: #2b323f;
}
.main-navbar-top ul li .btn-nav {
border-radius: 10px 10px 10px 10px ;
-webkit-border-radius: 10px 10px 10px 10px ;
-moz-border-radius: 10px 10px 10px 10px ;
-ms-border-radius: 10px 10px 10px 10px ;
-o-border-radius: 10px 10px 10px 10px ;
padding: 15px 15px;
color: rgba(255, 255, 255, 0.6);
font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-right: 2px;
position: relative;
letter-spacing: 1px;
text-transform: uppercase;
border: 1px solid;
border-color: transparent;
}
.main-navbar-top ul li .btn-nav:focus {
background-color: transparent !important;
}
.main-navbar-top ul li .btn-nav:hover {
background-color: transparent;
color: #ffffff;
}
.main-navbar-top ul li.active .btn-nav {
color: #ffffff;
}
.main-navbar-top ul li:last-child a {
margin-right: 0px;
}
.main-navbar-top .navbar-nav {
padding-top: 5px;
}
.main-navbar-top .navbar-nav .btn-nav.btn-border {
border-color: rgba(255, 255, 255, 0.6);
}
.main-navbar-top .navbar-nav .btn-nav.btn-border:hover {
border-color: #ffffff;
}
.main-navbar-top .okayNav__menu-toggle span {
background-color: #ffffff;
}
.main-navbar-top .okayNav__nav--invisible {
top: 95px;
transition: all 0.4s ease-out;
transform-style: preserve-3d;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav {
color: rgba(115, 115, 115, 0.7);
background-color: transparent;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav:hover {
color: #2b323f;
}
.main-navbar-top .okayNav__nav--invisible.active .btn-nav {
color: #2b323f;
}
.main-navbar-top.navbar-home {
padding-top: 5;
background-color: #ffffff;
box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
padding-bottom:0px;
}
.main-navbar-top.navbar-home .okayNav__menu-toggle span {
background-color: #737373;
}
.main-navbar-top.navbar-home .okayNav__nav--invisible {
top: 70px;
}
.main-navbar-top.navbar-home .navbar-brand .logo-1 {
display: none;

}
.main-navbar-top.navbar-home .navbar-brand .logo-2 {
display: block;
}
.main-navbar-top.navbar-home ul li .btn-nav {
color: rgba(115, 115, 115, 0.7);
background-color: transparent;
}
.main-navbar-top.navbar-home ul li .btn-nav:hover {
color: #2b323f;
}
.main-navbar-top.navbar-home ul li.active .btn-nav {
color: #2b323f;
}
.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border {
border-color: rgba(115, 115, 115, 0.7);
}
.main-navbar-top.navbar-home .navbar-nav .btn-nav.btn-border:hover {
border-color: #737373;
}
.spanDate{
  vertical-align: text-bottom;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.container3{padding-top: 50px;}
footer {
  min-height: 70px;
  width: 100%;
  /*position: relative;
  clear: both;             
  margin-top: 0px;            ELIMINADO
  padding-top: 0px;
  overflow: visible;*/
  position: fixed;
  bottom: 0;              /* NUEVO */
}

/*-------------------------------------------*/

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #000000;
  text-align: center;
}
#pepe{
  color: black;
  text-align: left;

}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}

.tablada{
  max-width: 550px;
  margin: 10% auto 8%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  padding-top: 80px;

}
.tamimg{
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
#aletrts
.alert {
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px #ccc;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  right: 15px;
  top: 25px;
  text-align: center;
  font-size: 1.6em;
  cursor: pointer;
}

.simple-alert {
  background-color: #ebebeb;
  border-left: 5px solid #6c6c6c;
}
.simple-alert .close {
  border-color: #6c6c6c;
  color: #6c6c6c;
}

.success-alert {
  background-color: #a8f0c6;
  border-left: 5px solid #178344;
}
.success-alert .close {
  border-color: #178344;
  color: #178344;
}

.danger-alert {
  background-color: #f7a7a3;
  border-left: 5px solid #8f130c;
}
.danger-alert .close {
  border-color: #8f130c;
  color: #8f130c;
}

.warning-alert {
  background-color: #ffd48a;
  border-left: 5px solid #8a5700;
}
.warning-alert .close {
  border-color: #8a5700;
  color: #8a5700;
}
.letraletra{
	font-family:Quicksand;
}
