<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <meta name="viewport" content="width=device-width initial-scale =1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta name="description" content="how to create a toggle for light and dark mode using html,css and javascript">
    <meta name="description" content="toggle dark/light mode">
    <meta name="tags" content="toggle,darkmode,web design,admin dashboard,glassmorphism,codepen">
    <meta name="description" content="design a website">
    <meta name="description" content="create a glassmorphism website">
    <meta name="keyword" content="dark mode, html,css,javascript, coding, programming, how to,learn">

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/edificio/edificio.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <input type="checkbox" id="nav-toggle">

    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-user-lock"></span><span id="kleenpulse">Grupo 3</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="active"><span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/edificio/admin/index}"><span><i class="las la-building"></i></span>
                        <span>Edificio</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/aula/admin/index}"><span class="las la-school"></span>
                        <span>Aula</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/notaPedido/admin/index}"><span class="las la-file-alt"></span>
                        <span>notaPedido</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/espacio/admin/index}"><span class="lab la-squarespace"></span>
                        <span>Espacio</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/departamento/admin/index}"><span class="las la-city"></span>
                        <span>Departamento</span>
                    </a>
                </li>
                <li>
                    <a href="#" th:href="@{/admin/index}"><span class="las la-arrow-circle-left"></span>
                        <span>Volver Atras</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2 class="heading" id="dashboard">
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
            <div class="search">
                <div class="icon"></div>
                <div class="input">
                    <input type="text" placeholder="search" id="mysearch" autocomplete="off">
                </div>
                <span class="clear" onclick="reset()"></span>
            </div>
            <div class="user-wrapper">
                <img src="" alt="">
                <div>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                        <h4>Cerrar sessión</h4>
                    </a>

                </div>
            </div>
        </header>
        <main>
            <div id="pop-wrap">
                <h1 class="pop-up">Light Mode Activated</h1>
            </div>
            <div class="switch" id="switch">
                <div id="toggle">
                    <i class="indicator"></i>

                </div>
            </div>
            <!--aca abajo va todo-->
            <div class="customers">
				<div class="card">
					<div class="card-header">
						<h3 class="heading">Grupo 3 - Contacto</h3>
						<form action="https://github.com/FrancoPonce14/TP-Asignacion-de-aulas-IS3-2024" target="_blank">
                        <button>Visitar Repo del TP<span class="las la-arrow-right"></span></button>
                    </form>
					</div>
					
					<div class="card-body">
						<div class="customer">
							<div class="info">
								<img src="/img/francoponce.jpg"alt="" width=40px height=40px> 
								<div>
									<h4>
										Franco Ponce</h4>
									<small>Estudiante</small>
								</div>
							</div>
							<div class="contact">
								<span class="lab la-instagram"></span>
								<span class="lab la-github"></span>
								<span class="lab la-linkedin-in"></span>
							</div>
						</div>
						<div class="customer">
							<div class="info">
								<img src="/img/images1.png" alt="" width=40px height=40px>
								<div>
									<h4>Santiago Fiordalisi</h4>
									<small>Estudiante</small>
								</div>
							</div>
							<div class="contact">
								<span class="lab la-instagram"></span>
								<span class="lab la-github"></span>
								<span class="lab la-linkedin-in"></span>
							</div>
						</div>
						
						<div class="customer">
							<div class="info">
								<img src="/img/images1.png" alt="" width=40px height=40px>
								<div>
									<h4>Guido Huidobro</h4>
									<small>Estudiante</small>
								</div>
							</div>
							<div class="contact">
								<span class="lab la-instagram"></span>
								<span class="lab la-github"></span>
								<span class="lab la-linkedin-in"></span>
							</div>
						</div>
                        <div class="customer">
							<div class="info">
								<img src="/img/images1.png" alt="" width=40px height=40px>
								<div>
									<h4>Agustín Garabito</h4>
									<small>Estudiante</small>
								</div>
							</div>
							<div class="contact">
								<span class="lab la-instagram"></span>
								<span class="lab la-github"></span>
								<span class="lab la-linkedin-in"></span>
							</div>
						</div>
                        <div class="customer">
							<div class="info">
								<img src="/img/images1.png" alt="" width=40px height=40px>
								<div>
									<h4>Ignacio Mansilla</h4>
									<small>Estudiante</small>
								</div>
							</div>
							<div class="contact">
								<span class="lab la-instagram"></span>
								<span class="lab la-github"></span>
								<span class="lab la-linkedin-in"></span>
							</div>
						</div>
						</div>
						
					</div>
                    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trabajo practico is3 - Sistema de administración y asignación - Grupo 3</h4>
				</div>
			</div>

		</div>
            

        </main>
        <footer id="footer">
        </footer>
    </div>
    <!-- partial -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="/js/edificio.js"></script>

</body>

</html>